
<div class="container">
  <div class="row">
    <div class="col-xs-8">
        <h4>VIJAY - NUMBER GAME START</h4>
        <app-gamecontrol (intervalFired)="onIntervalFired($event)"></app-gamecontrol>
    </div>
  </div>
  <div class="row">
        <div class="col-xs-9">
                <div class="panel panel-default col-xs-6">
                        <div class="panel-body col-xs-6">
                            <app-odd *ngFor="let odd of oddNumbers" [number]="odd"></app-odd>
                        </div>
                        <div class="panel-body col-xs-6">
                                <app-even *ngFor="let even of evenNumbers" [number]="even"></app-even>
                        </div>
                    </div>
        </div>
  </div>
  <hr>
  <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onShow()">Show {{showText}} Numbers</button>
            <br>
            <ul class="list-group">
                <div *ngIf="onlyOdd">
                    <li class="list-group-item" 
                    [ngClass]="{ odd: odd % 2 !== 0}"
                    [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'Blue' : 'White'}"
                    *ngFor="let odd of oddNum"
                    >
                        {{odd}}
                    </li>
                </div>
            </ul>
            <ul class="list-group">
                    <div *ngIf="!onlyOdd">
                        <li class="list-group-item" 
                        [ngClass]="{ even: even % 2 === 0}"
                        [ngStyle]="{backgroundColor: even % 2 ===0 ? 'black' : 'Yellow'}"
                        *ngFor="let even of evenNum"
                        >
                            {{even}}
                        </li>
                    </div>
                </ul>
        </div>
  </div>
  <hr>
  <p appBasicHighlight>App Basic Highlight Directive Usage</p>
  <p appBetterHighlight defaultColor="white" [highlightColor]="'black'">App Better Highlight Directive Usage With Renderer</p>
</div>
